.Hero-div {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/herofooodimg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Hero-div .hero-content {
    width: 70%;
    height: 100%;
    padding: 50px 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.hero-content .Hero-heading {
    font-size: 3rem;
    text-align: center;
    font-style: italic;

}

.hero-content .Hero-para {
    font-size: 1.2rem;
    text-align: center;
}

.hero-content .Hero-btns {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.Hero-btns .book-btn {
    padding: 0.7rem 1.5rem;
    background-color: brown;
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.Hero-btns .menu-btn {
    padding: 0.7rem 1.5rem;
    background-color: rgb(25, 22, 237);
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
@media  (max-width: 576px) {
    .Hero-div .hero-content {
    width: 100%;
    
}
.hero-content .Hero-heading {
    font-size: 2rem;
}

.hero-content .Hero-para {
    font-size: 1rem;
}
.Hero-btns .book-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.Hero-btns .menu-btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.Hero-div {
    
    background-image: url("../assets/mobimg.webp");
  
}
}
